:root {
    --primero: #FDAAC4;
    --segundo: #8BFAFE;
    --tercero: #B2DB82;
    --cuarto: #FFFEBB;
    --quinto: #fcbb72;
    --sexto: #e3a8ff;
    --primero-contraste: #d891a8;
    --segundo-contraste: #7ddde0;
    --tercero-contraste: #9cc271;
    --cuarto-contraste: #fffd72;
    --quinto-contraste: #b35f00;
    --sexto-contraste: #fff;
    
    --color-contraste1: #000000;
    --color-contraste2: #020202;

}

* {
    box-sizing: border-box
}

@font-face {
    font-family: 'Itty';
    src: url('/public/fonts/IttyBittyNotebook-2X7K.ttf') format('truetype');
  }

  /*Font itty*/
  .itty{
    font-family: 'Itty';
  }

  .px20{
    font-size: 20px;
  }

/* ICONOS MENU */
.logo-sidebar-1{
    background-image: url(/images/casa.svg);    
}
li:hover .logo-sidebar-1{
    background-image: url(/images/casa_hover.svg);    
}

.logo-sidebar-2{
    background-image: url(/images/lupa.svg);    
}
li:hover .logo-sidebar-2{
    background-image: url(/images/lupa_hover.svg);    
}

.logo-sidebar-3{
    background-image: url(/images/campana.svg);    
}
li:hover .logo-sidebar-3{
    background-image: url(/images/campana_hover.svg);    
}

.logo-sidebar-4{
    background-image: url(/images/mensajes.svg);    
}
li:hover .logo-sidebar-4{
    background-image: url(/images/mensajes_hover.svg);    
}

.logo-sidebar-5{
    background-image: url(/images/perfil.svg);    
}
li:hover .logo-sidebar-5{
    background-image: url(/images/perfil_hover.svg);    
}

.logo-sidebar-6{
    background-image: url(/images/configuracion.svg);    
}
li:hover .logo-sidebar-6{
    background-image: url(/images/configuracion_hover.svg);    
}

.logo-sidebar-7{
    background-image: url(/images/cerrarSesion.svg);    
}
li:hover .logo-sidebar-7{
    background-image: url(/images/cerrarSesion_hover.svg);    
}

/* Contenedor principal */
.mainPrincipal {
    min-height: 100vh;
}

@media (max-width: 1200px){
    .mainPrincipal{
        margin-bottom: 80px;
    }
}
.title-target {
    font-size: 2.50rem;
}
/* buttons */
    .btn-href {
        font-size: 1.2rem;
        color: var(--gray-800);
    }
    .btn-href:hover {
        text-decoration: underline !important;
    }

    .btn-href2:hover {
        text-decoration: underline !important;
    }

    .btn-filtro {
        background-image: url(/images/papel-comment.svg);
        background-size: cover;
        background-repeat: no-repeat;
        padding: 10px 20px 10px 20px;
        filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
        cursor:pointer;
    }
    
    .btn-filtro:hover {
        filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.5));
    }

    .btn-href:hover .delete-responsive{
        text-decoration: underline;
    }
    .btn-href:hover .img-btn{
        background-image: url(/public/images/paperbin_hover.svg);
    }

    /*Sticky Btn*/
    .container-boton {
        display: flex;
        flex-direction: row;
        width: 35%;
    }

    @media (max-width: 1200px){
        .container-boton{
            width: 50%;
        }
    }
    @media (max-width: 600px){
        .container-boton{
            width: 100%;
        }
    }
    .sticky-btn-1 {
        width: 90%;
        text-align: center;
        font-size: 1.35rem;
        box-shadow: 12px 3px 10px rgba(0, 0, 0, 0.2);
        padding: 12px;
        transition: box-shadow 0.25s ease-in-out;
    }

    .sticky-btn-1:hover {
        box-shadow: 12px 3px 10px rgba(0, 0, 0, 0.5);
    }

    .sticky-btn-sticker {
        width: 10%;
        background-color: #a1c775;
    }

    /*En caso de ser un button*/
    .btnSticky {
        background-color: #b2db82;
        border: 0;
    }

    /*Boton para pulsar */
    .btnIr {
        height: 50px;
        width: 120px;
        background-image: url(/public/images/btnIr-normal.svg);
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.35rem;
    }

    .btnIr:hover {
        background-image: url(/public/images/btnIr-hover.svg);
    }


    .inclinacion1 {
        transform: rotate(2deg);
    }

    .inclinacion2 {
        transform: rotate(-2deg);
    }

/*Fin del Sticky Btn*/
.delete-btn{
    background-color: none;
    cursor: pointer;
    color: black;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    
}
.img-btn{
    width: 24px;
    height: 34px;
    background-image: url(/public/images/paperbin.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.img-btn-edit{
    width: 20px;
    height: 20px;
    background-image: url(/public/images/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.img-btn-edit-profile{
    width: 30px;
    height: 30px;
    background-image: url(/public/images/edit.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.img-btn-seguir-profile{
    width: 30px;
    height: 30px;
    background-image: url(/public/images/seguir.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.img-btn-dejarseguir-profile{
    width: 30px;
    height: 30px;
    background-image: url(/public/images/dejar_seguir.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.img-btn-block-profile{
    width: 30px;
    height: 30px;
    background-image: url(/public/images/block.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.img-btn-unblock-profile{
    width: 30px;
    height: 30px;
    background-image: url(/public/images/block_hover.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.img-btn-chat-profile {
    width: 30px;
    height: 30px;
    background-image: url(/public/images/mensajes.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.img-btn-chat-profile:hover {
    background-image: url(/public/images/mensajes_hover.svg);
}

.img-btn-edit-profile:hover{
    background-image: url(/public/images/edit_hover.svg);
}
@media (max-width: 600px){
    .img-btn-chat-profile {
        width: 25px;
        height: 25px;;
    }
    .img-btn-seguir-profile{
        width: 25px;
        height: 25px;
    }
    
    .img-btn-dejarseguir-profile{
        width: 25px;
        height: 25px;
    }
    .img-btn-edit-profile{
        width: 25px;
        height: 25px;
    }

    .img-btn-block-profile{
        width: 25px;
        height: 25px;
    }
    
    .img-btn-unblock-profile{
        width: 25px;
        height: 25px;
    }
}

.img-btn:hover, .img-btn:hover delete-btn{
    background-image: url(/public/images/paperbin_hover.svg);
}

.img-btn-edit:hover{
    background-image: url(/public/images/edit_hover.svg);
}

p,span,a,label,button,h1,h2,h3{
    color: var(--color-contraste1);
}

.textColor {
    color: var(--text-color);
    font-size: 1.5rem;
}

/*Contenido de la parte superior de las vistas*/
.top-content-view{
    padding: 24px 24px 12px 24px;
    width: 90%;
}

.title_page{
    width: 138px;
    background-image: url(/public/images/papel_title.svg);
    background-repeat: no-repeat;
}

.userContainer {
    background-image: url(/images/papel-comment.svg);
    background-size: cover;
    background-position: center;
    padding: 35px;
    margin: auto;
    width: 60%;
    max-width: 800px;
    margin-bottom: 15px;
  }

h2{
    font-size: 40px;
}

.celo{
    transform: rotate(105deg);
    height: 50px;
    position: absolute;
    box-shadow: none;
    z-index: 5;
    top: 2%;
}

.target-value {
    width: 55px;
    height: 55px;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.5));
    background-image: url(/images/papel-pequeño-cuadrado.svg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 2rem;
}

/*Tamaño font*/
.font-title {
    font-size: 2rem;
}

.font-info {
    font-size: 1.6rem;
}

.font-standard{
    font-size: 1.4rem;
}

.font1 {
    font-size: 1.5rem;
}

.font2 {
    font-size: 1.2rem;
}

@media (max-width: 600px){
    .font1 {
    font-size: 1.3rem;
    }

    .font2 {
        font-size: 1.1rem;
    }
}
/* ESTRUCTURAMOS EL POST */

/*Etiquetas inclinacion*/
.inc-1 {
    transform: rotate(1deg);
}
.inc-2 {
    transform: rotate(-1deg);
}
.inc-3 {
    transform: rotate(2deg);
}
.inc-4 {
    transform: rotate(-2deg);
}
.inc-5 {
    transform: rotate(-3deg);
}
.inc-6 {
    transform: rotate(3deg);
}

/*Ubicacion de post*/
.align-1 {
align-self: flex-start
}
.align-2 {
align-self: center
}
.align-3 {
align-self: flex-end;
}

/*Clases de colores*/
.bg-1 {
    background-color: var(--primero);
}
.bg-2 {
    background-color: var(--segundo);
}

.bg-3 {
    background-color: var(--tercero);
}

.bg-4 {
    background-color: var(--cuarto);
}

.bg-5 {
    background-color: var(--quinto);
}

.bg-6 {
    background-color: var(--sexto);
}

/*Colores de contraste para las clases bg*/
.bg-1c {
    background-color: var(--primero-contraste);
}
.bg-2c {
    background-color: var(--segundo-contraste);
}
.bg-3c {
    background-color: var(--tercero-contraste);
}
.bg-4c {
    background-color: var(--cuarto-contraste);
}
.bg-5c {
    background-color: var(--quinto-contraste);
}
.bg-6c {
    background-color: var(--sexto-contraste);

}
.bg-v1 {
    background-image: url(/public/images/papel-comment.svg);
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-v2 {
    background-image: url(/public/images/papel-comment-2.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

/*Otras etiquetas*/

.topbar-container {
    padding: 10px 20px 20px 20px;
    background-position: bottom;
    margin-bottom: 20px;
    position: relative;
    top: -10px;
    filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.1));
}

.topbar-title {
    margin-top: 10px;
}

.card-post{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    width: 60%;
    max-width: 800px;
}

@media (max-width: 1200px){
    .card-post{
        width: 80%;
    }

    .userContainer {
        width: 90%;
    }
}

@media (max-width: 600px){
    .card-post{
        width: 90%;
    }
}
.soporte{
    width: 4rem;
    height: 4rem;
    margin-top: -60px;
}

.contenedor-img-perfil{
    overflow: hidden;
    margin-right: 8px;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
.contenedor-img-perfil-grande{
    overflow: hidden;
    min-height: 120px;
    min-width: 120px;
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.contenedor-img-perfil-grande{
    border: 1px solid #000;
}

.img-perfil{
    border: solid 3px var(--color-primario);
    height: 100%;
    /* border-radius: 50%; */
}

.username{
    font-size: 1.5rem;
}

.card-post-img{
    position: relative;
    aspect-ratio: 16/9;
    overflow: hidden;
}
.card-post-img .img_post{
    height: 80%;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
    background-color: #fff;
}

.card-post-text {
    word-break: break-all;
    height: auto;
}

.number-of{
    font-size: 1.5rem;
}

/* Diseño del SWAL */
div:where(.swal2-container) div:where(.swal2-popup) {
    display: none;
    position: relative;
    box-sizing: border-box;
    grid-template-columns: minmax(0, 100%);
    width: 32em;
    max-width: 100%;
    padding: 0 0 1.25em;
    border: none;
    background-image: #fff;
    color: #545454;
    font-family: 'Itty';
    font-size: 1rem;
}

/*Contenedor de las vistas*/
.content-view{
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 0 auto 0 auto;
    padding-bottom: 20px;
}

@media (max-width: 1200px){
    .content-view{
        padding-bottom: 60px;
    }
}
@media (max-width: 700px){
    .content-view{
        width: 90%;
    }
}
@media (max-width: 450px){
    .content-view{
        width: 100%;
    }
}

* {
    font-family: 'Itty';
}